<a href="https://colab.research.google.com/github/jafetpintle/DataManipulation/blob/main/Activity_1_Pre_Processing_Using_the_Bank_Marketing_Subscription_Dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In this activity, we'll perform various pre-processing tasks on the Bank Marketing 
Subscription dataset. This dataset relates to the direct marketing campaigns of a 
Portuguese banking institution. Phone calls are made to market a new product, and the 
dataset records whether each customer subscribed to the product.

The Bank Marketing Subscription dataset is available here: https://github.com/TrainingByPackt/Data-Science-with-Python/blob/master/Chapter01/Data/Banking_Marketing.csv

1. Load the dataset from the link given into a pandas dataframe.

In [20]:
import pandas as pd

dataset= 'https://github.com/TrainingByPackt/Data-Science-with-Python/blob/master/Chapter01/Data/Banking_Marketing.csv?raw=true'
df = pd.read_csv(dataset, header=0)
df.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp_var_rate,cons_price_idx,cons_conf_idx,euribor3m,nr_employed,y
0,44.0,blue-collar,married,basic.4y,unknown,yes,no,cellular,aug,thu,...,1,999,0,nonexistent,1.4,93.444,-36.1,4.963,5228.1,0
1,53.0,technician,married,unknown,no,no,no,cellular,nov,fri,...,1,999,0,nonexistent,-0.1,93.200,-42.0,4.021,5195.8,0
2,28.0,management,single,university.degree,no,yes,no,cellular,jun,thu,...,3,6,2,success,-1.7,94.055,-39.8,0.729,4991.6,1
3,39.0,services,married,high.school,no,no,no,cellular,apr,fri,...,2,999,0,nonexistent,-1.8,93.075,-47.1,1.405,5099.1,0
4,55.0,retired,married,basic.4y,no,yes,no,cellular,aug,fri,...,1,3,1,success,-2.9,92.201,-31.4,0.869,5076.2,1

 2. Explore the features of the data by finding the number of rows and columns, 
listing all the columns, finding the basic statistics of all columns (you can use the 
**describe().ranspose()** function), and listing the basic information of the columns 
(you can use the **info()** function).

In [21]:
print('Columns:',list(df.columns))
print('\nShape',df.shape)
print('\nBasics statistics')
print(df.describe().transpose())
print(df.info())

Columns: ['age', 'job', 'marital', 'education', 'default', 'housing', 'loan', 'contact', 'month', 'day_of_week', 'duration', 'campaign', 'pdays', 'previous', 'poutcome', 'emp_var_rate', 'cons_price_idx', 'cons_conf_idx', 'euribor3m', 'nr_employed', 'y']

Shape (41199, 21)

Basics statistics
                  count         mean         std       min       25%  \
age             41197.0    40.023812   10.434966     1.000    32.000
duration        41192.0   258.274762  259.270089     0.000   102.000
campaign        41199.0     2.567514    2.769719     1.000     1.000
pdays           41199.0   962.485206  186.886905     0.000   999.000
previous        41199.0     0.172941    0.494859     0.000     0.000
emp_var_rate    41199.0     0.081900    1.570971    -3.400    -1.800
cons_price_idx  41199.0    93.575650    0.578845    92.201    93.075
cons_conf_idx   41199.0   -40.502002    4.628524   -50.800   -42.700
euribor3m       41199.0     3.621336    1.734431     0.634     1.344
nr_employed     41199.0  5167.036455   72.249592  4963.600  5099.100
y               41199.0     0.112648    0.316166     0.000     0.000

                     50%       75%       max
age               38.000    47.000   104.000
duration         180.000   319.000  4918.000
campaign           2.000     3.000    56.000
pdays            999.000   999.000   999.000
previous           0.000     0.000     7.000
emp_var_rate       1.100     1.400     1.400
cons_price_idx    93.749    93.994    94.767
cons_conf_idx    -41.800   -36.400   -26.900
euribor3m          4.857     4.961     5.045
nr_employed     5191.000  5228.100  5228.100
y                  0.000     0.000     1.000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41199 entries, 0 to 41198
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             41197 non-null  float64
 1   job             41199 non-null  object
 2   marital         41199 non-null  object
 3   education       41199 non-null  object
 4   default         41199 non-null  object
 5   housing         41199 non-null  object
 6   loan            41199 non-null  object
 7   contact         41193 non-null  object
 8   month           41199 non-null  object
 9   day_of_week     41199 non-null  object
 10  duration        41192 non-null  float64
 11  campaign        41199 non-null  int64
 12  pdays           41199 non-null  int64
 13  previous        41199 non-null  int64
 14  poutcome        41199 non-null  object
 15  emp_var_rate    41199 non-null  float64
 16  cons_price_idx  41199 non-null  float64
 17  cons_conf_idx   41199 non-null  float64
 18  euribor3m       41199 non-null  float64
 19  nr_employed     41199 non-null  float64
 20  y               41199 non-null  int64
dtypes: float64(7), int64(4), object(10)
memory usage: 6.6+ MB
None

3. Check whether there are any missing (or NULL) values, and if there are, find how 
many missing values there are in each column.

In [22]:
#Checking if are na values
null_ = df.isna().any()
dtypes = df.dtypes
null_count = df.isna().sum()

pd.concat([null_,null_count, dtypes], axis=1, keys=['Null', 'Count', 'Type'])

                 Null  Count     Type
age              True      2  float64
job             False      0   object
marital         False      0   object
education       False      0   object
default         False      0   object
housing         False      0   object
loan            False      0   object
contact          True      6   object
month           False      0   object
day_of_week     False      0   object
duration         True      7  float64
campaign        False      0    int64
pdays           False      0    int64
previous        False      0    int64
poutcome        False      0   object
emp_var_rate    False      0  float64
cons_price_idx  False      0  float64
cons_conf_idx   False      0  float64
euribor3m       False      0  float64
nr_employed     False      0  float64
y               False      0    int64

4. Remove any missing values.

In [23]:
df = df.dropna()

5. Print the frequency distribution of the **education** column

In [24]:
df.education.value_counts()

university.degree      12167
high.school             9516
basic.9y                6045
professional.course     5242
basic.4y                4176
basic.6y                2292
unknown                 1731
illiterate                18
Name: education, dtype: int64

6. The **education** column of the dataset has many categories. Reduce the categories 
for better modeling.

In [25]:
df['education'] = df['education'].replace({'basic.9y':'basic','basic.6y':'basic', 'basic.4y':'basic'})

In [26]:
df['education'].value_counts()

basic                  12513
university.degree      12167
high.school             9516
professional.course     5242
unknown                 1731
illiterate                18
Name: education, dtype: int64

7. Select and perform a suitable encoding method for the data

In [27]:
#Selecting all the non numerics columns
import numpy as np
categorical_columns = df.select_dtypes(exclude=np.number).columns
categorical_columns

Index(['job', 'marital', 'education', 'default', 'housing', 'loan', 'contact',
       'month', 'day_of_week', 'poutcome'],
      dtype='object')

In [29]:
cat_vars = categorical_columns

for var in cat_vars:
  var_cat = pd.get_dummies(df[var], prefix=var)
  df = df.join(var_cat)
df.columns

Index(['age', 'job', 'marital', 'education', 'default', 'housing', 'loan',
       'contact', 'month', 'day_of_week', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'emp_var_rate', 'cons_price_idx',
       'cons_conf_idx', 'euribor3m', 'nr_employed', 'y', 'job_admin.',
       'job_blue-collar', 'job_entrepreneur', 'job_housemaid',
       'job_management', 'job_retired', 'job_self-employed', 'job_services',
       'job_student', 'job_technician', 'job_unemployed', 'job_unknown',
       'marital_divorced', 'marital_married', 'marital_single',
       'marital_unknown', 'education_basic', 'education_high.school',
       'education_illiterate', 'education_professional.course',
       'education_university.degree', 'education_unknown', 'default_no',
       'default_unknown', 'default_yes', 'housing_no', 'housing_unknown',
       'housing_yes', 'loan_no', 'loan_unknown', 'loan_yes',
       'contact_cellular', 'contact_telephone', 'month_apr', 'month_aug',
       'month_dec', 'month_jul', 'month_jun', 'month_mar', 'month_may',
       'month_nov', 'month_oct', 'month_sep', 'day_of_week_fri',
       'day_of_week_mon', 'day_of_week_thu', 'day_of_week_tue',
       'day_of_week_wed', 'poutcome_failure', 'poutcome_nonexistent',
       'poutcome_success'],
      dtype='object')

In [51]:
#Categorical features
cat_vars = categorical_columns

#All features
data_vars = df.columns.values.tolist()

#neglecting the categorical column for which we have done encoding
to_keep = []
for i in data_vars:
  if i not in cat_vars:
    to_keep.append(i)

#Selecting only the numerical and encoded categorical column
data_final=df[to_keep]

data_final.columns

Index(['age', 'duration', 'campaign', 'pdays', 'previous', 'emp_var_rate',
       'cons_price_idx', 'cons_conf_idx', 'euribor3m', 'nr_employed', 'y',
       'job_admin.', 'job_blue-collar', 'job_entrepreneur', 'job_housemaid',
       'job_management', 'job_retired', 'job_self-employed', 'job_services',
       'job_student', 'job_technician', 'job_unemployed', 'job_unknown',
       'marital_divorced', 'marital_married', 'marital_single',
       'marital_unknown', 'education_basic', 'education_high.school',
       'education_illiterate', 'education_professional.course',
       'education_university.degree', 'education_unknown', 'default_no',
       'default_unknown', 'default_yes', 'housing_no', 'housing_unknown',
       'housing_yes', 'loan_no', 'loan_unknown', 'loan_yes',
       'contact_cellular', 'contact_telephone', 'month_apr', 'month_aug',
       'month_dec', 'month_jul', 'month_jun', 'month_mar', 'month_may',
       'month_nov', 'month_oct', 'month_sep', 'day_of_week_fri',
       'day_of_week_mon', 'day_of_week_thu', 'day_of_week_tue',
       'day_of_week_wed', 'poutcome_failure', 'poutcome_nonexistent',
       'poutcome_success'],
      dtype='object')

8. Split the data into train and test sets. The target data is in the y column and the 
independent data is in the remaining columns. Split the data with 80% for the 
train set and 20% for the test set

In [52]:
X= data_final.drop('y', axis=1)
y= data_final['y']

In [53]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(X,y, test_size=0.2)

In [55]:
print('FULL Dataset X shape:',X.shape)
print('Train Dataset X shape:',x_train.shape)
print('Test Dataset X shape:',x_test.shape)

FULL Dataset X shape: (41187, 61)
Train Dataset X shape: (32949, 61)
Test Dataset X shape: (8238, 61)